version: '3.8'
services:
  mongodb:
    image: mongo:latest
    container_name: police_mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123cd
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: